{% extends "course/dashboard.html" %}
{% load crispy_forms_tags %}
{% block dashboard %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>
    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Students</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ users }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Total Enrollments
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ enrollments }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Payments
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ payments }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <a href="{% url 'feedback' %}">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    Feedback
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ feedback }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-comments fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Session Payments</h6>
                </div>
                <div class="card-body">
                    <div class="accordion" id="session-payments">
                        {% for session, val in sessions.items %}
                                <div class="card">
                                    <div class="card-header" id="heading{{ forloop.counter }}">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link btn-block text-left session-tab" type="button" data-toggle="collapse" data-target="#collapse{{ forloop.counter}}" aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}" aria-controls="collapse{{ forloop.counter }}">
                                            {{ session }}
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapse{{ forloop.counter }}" class="collapse {% if forloop.first %}show{% endif %}" aria-labelledby="heading{{ forloop.counter}}" data-parent="#session-payments">
                                        <div class="card-body">
                                            {% if val.enrollments %}
                                                <h4 class="font-weight-bold">Paid Enrollments<span class="float-right">{{ val.paid }}%</span></h4>
                                                <div class="progress mb-5">
                                                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ val.paid }}%"
                                                        aria-valuenow="{{ val.paid }}" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-8 col-6">
                                                        <h5>User</h5>
                                                    </div>
                                                    <div class="col-lg-4 col-6">
                                                        <h5>Paid</h5>
                                                    </div>
                                                </div>
                                                {% for enrollment in val.enrollments %}
                                                    <div class="row pt-3 pb-2 border-top">
                                                        <div class="col-lg-8 col-6">
                                                            <p>{{ enrollment.student }}</p>
                                                        </div>
                                                        <div class="col-lg-4 col-6">
                                                            <form method="POST" action="{% url 'payment_update' enrollment.id %}">
                                                                {% csrf_token %}
                                                                <fieldset>
                                                                    <div class="row">
                                                                        <div class="col-lg-7 col-6">
                                                                            {{ enrollment.payment|crispy }}
                                                                        </div>
                                                                        <div class="col-lg-5 col-6">
                                                                            <button class="btn btn-success" type="submit"><i class="fas fa-save"></i></button>
                                                                        </div>
                                                                    </div>
                                                                </fieldset>
                                                            </form>
                                                        </div> 
                                                    </div>
                                                {% endfor %}
                                            {% else %}
                                                <p>No students have registered for this session yet.</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock dashboard %}